{% extends 'base.html.twig' %}

{% block title %}SignConfig index{% endblock %}

{% block body %}
    <h1>SignConfig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sign_config in sign_configs %}
            <tr>
                <td>{{ sign_config.id }}</td>
                <td>{{ sign_config.slug }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_sign_config_show', {'id': sign_config.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_sign_config_edit', {'id': sign_config.id}) }}">edit</a>
                    <a class="btn btn-warning"
                        href="{{ path('app_sign_config_generate_query', {'id': sign_config.id}) }}">Generate query</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a 
    class="btn btn-success"
    href="{{ path('app_sign_config_new') }}">Create new</a>
{% endblock %}
