{% extends 'base.html.twig' %}

{% block title %}StaplingConfig index{% endblock %}

{% block body %}
  <h1>StaplingConfig index</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Slug</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for stapling_config in stapling_configs %}
      <tr>
        <td>{{ stapling_config.id }}</td>
        <td>{{ stapling_config.slug }}</td>
        <td>
          <a
            class="btn btn-secondary"
            href="{{ path('app_stapling_config_show', {'id': stapling_config.id}) }}"
          >show</a>
          <a
            class="btn btn-primary"
            href="{{ path('app_stapling_config_edit', {'id': stapling_config.id}) }}"
          >edit</a>
          <a class="btn btn-warning"
             href="{{ path('app_stapling_config_generate_query', {'id': stapling_config.id}) }}">Generate query</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="3">no records found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a
    class="btn btn-success"
    href="{{ path('app_stapling_config_new') }}"
  >Create new</a>
{% endblock %}
